// import dark theme
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

* {
  margin: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

body {
  font-family: Inter, system-ui, Avenir, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

a {
  color: var(--ep-color-primary);
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--ep-color-primary-light-9);
  color: var(--ep-color-primary);
}

// Navigation Page Stylings
.navigation-button {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #77777733;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f8f8f8;
  padding: 30px;
}

html.dark {
  .navigation-button {
    background-color: rgb(27, 27, 27);
  }
}

.main-navigation-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.background-element img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.stories-list {
  height: calc(100vh - 40vh);
}

.dialog-center-title {
  text-align: center;
  margin-bottom: -30px;
}

.background-neutral-text {
  color: #fff;
  text-shadow: 0px 0px 0.3vw rgba(0, 0, 0, 1), 0px 0px 1.4vw rgba(0, 0, 0, 1);
}