// import dark theme
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

// :root {
//   --ep-color-primary: red;
// }

* {
  margin: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

body {
  font-family: Inter, system-ui, Avenir, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--ep-color-primary);
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--ep-color-primary-light-9);
  color: var(--ep-color-primary);
}

// Navigation Page Stylings
.navigation-button {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #77777733;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--el-button-bg-color);
  backdrop-filter: blur(60px) brightness(1.13);
  -webkit-backdrop-filter: blur(60px) brightness(1.13);
  padding: 30px;
}

html.dark {
  .navigation-button {
    border-top: 1px solid #77777777;
    backdrop-filter: blur(60px) brightness(0.6);
    -webkit-backdrop-filter: blur(60px) brightness(0.6);
  }
}

.main-navigation-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.background-element img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.stories-list {
  height: calc(100vh - 40vh);
}

.stories-list-dialog-title {
  text-align: center;
  margin-bottom: -30px;
}